---
import { getCollection } from 'astro:content'

const posts = await getCollection('blog')
---

<!doctype html>
<html lang="en">
    <head>
        <title>Blog</title>
    </head>
    <body>
        <main>
            <section>
                <ul>
                    {
                        posts.map((post) => (
                            <li>
                                <a href={`/blog/${post.slug}/`}>
                                    <h4 class="title">{post.data.title}</h4>
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </section>
        </main>
    </body>
</html>
