html, body {
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.link {
    @apply text-blue-500 p-0.5 rounded-lg hover:bg-blue-500/10 focus:bg-blue-500/10 transition-colors;
}

.link-base {
	@apply inline-block h-8 px-1.5 transform hover:scale-110 rounded-lg transition-colors cursor-pointer ease-out-expo duration-700;
  transition-property: color, background-color, transform;
}

.link-pink {
    @apply link-base -rotate-2 text-pink-500/90 bg-pink-500/10 hover:bg-pink-500/20 focus:bg-pink-500/20;
}

.link-amber {
    @apply link-base rotate-3 text-amber-500 bg-amber-500/10 hover:bg-amber-500/20 focus:bg-amber-500/20;
}

.link-emerald {
    @apply link-base -rotate-1 text-emerald-500 bg-emerald-500/10 hover:bg-emerald-500/20 focus:bg-emerald-500/20;
}

.link-green {
    @apply link-base -rotate-1 text-green-500 bg-green-500/10 hover:bg-green-500/20 focus:bg-green-500/20;
}

.link-violet {
    @apply link-base -rotate-2 text-violet-500 bg-violet-500/10 hover:bg-violet-500/20 focus:bg-violet-500/20;
}

.link-blue {
    @apply link-base rotate-1 text-blue-500 bg-blue-500/10 hover:bg-blue-500/20 focus:bg-blue-500/20;
}

.object-shadow {
	@apply transition-shadow;
    box-shadow: 0 7px 25px rgba(0,0,0,.25);
}

.object-shadow:hover {
    box-shadow: 0 15px 45px rgba(0,0,0,.4);
}

.ease-out-expo {
	transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

.image-scale {
	@apply hover:scale-105 transition-transform duration-700 ease-out-expo hover:rounded-lg;
	transition-property: transform, border-radius, box-shadow;
}

.image-scale:hover {
	@apply z-10;
 	box-shadow: 0 15px 45px rgba(0,0,0,.4);
}
