---
import '../styles/global.css'
---

<!doctype html>
<html lang="en">
    <head>
        <title>SaltyAom</title>
        <meta name="charset" content="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
            rel="stylesheet"
        />

        <link
            rel="icon"
            href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🐳</text></svg>"
        />

        <meta name="title" content="SaltyAom" />
        <meta
            name="description"
            content="SaltyAom, open source maintainer and cosplayer"
        />
        <meta name="author" content="SaltyAom" />

        <meta name="og:title" content="SaltyAom" />
        <meta
            name="og:description"
            content="SaltyAom, open source maintainer and cosplayer"
        />
        <meta name="og:author" content="SaltyAom" />
        <meta
            property="og:image"
            content="https://saltyaom.com/tingyun-cover.webp"
        />
        <meta property="og:image:width" content="1927" />
        <meta property="og:image:height" content="1285" />
        <meta property="og:locale" content="th_TH" />
        <meta property="og:type" content="website" />
    </head>
    <body>
        <main
            class="flex flex-col w-full max-w-3xl px-4 mx-auto pt-24 pb-12 text-lg text-gray-700 dark:text-300 leading-8"
        >
            <h1 class="text-4xl text-black font-medium mb-4">SaltyAom</h1>
            <p>Hi, I make open source and cosplay.</p>
            <p>
                Made
                <a class="link" target="_blank" href="https://elysiajs.com">
                    Elysia
                </a>,
                <a
                    class="link"
                    target="_blank"
                    href="https://niku.saltyaom.com"
                >
                    Niku
                </a>,
                <a
                    class="link"
                    target="_blank"
                    href="https://github.com/saltyaom/mobius"
                >
                    Mobius GraphQL
                </a>.
            </p>

            <picture
                class="block bg-gray-100 my-4 rounded-xl aspect-16-10 overflow-hidden object-shadow"
            >
                <img
                    class="w-full aspect-16-10 object-cover object-center"
                    src="/cosplay/tingyun-cover.webp"
                    alt="SaltyAom's tingyun cosplay"
                />
            </picture>

            <p>
                I believe that wonderful tools will help people brings wonderful
                things.
            </p>
            <p>
                Abuse TypeScript to brings good Developer Experience out of it.
            </p>

            <br />

            <p>
                Want to work on open source full time with
                <a
                    class="link"
                    target="_blank"
                    href="https://github.com/sponsors/saltyaom"
                    >GitHub Sponsors</a
                >
                , but still have to do freelance to pay the bill.
            </p>

            <br />

            <p>
                Beside programming, I love to cosplay, play games, watch anime,
                and draw sometime like Blue Archive, Arknights, Honkai Impact
                3rd, Honkai Star Rail, MaiMai.
            </p>

            <br />

            <p>
                Find me on <a class="link" href="https://github.com/saltyaom">
                    GitHub
                </a>, <a class="link" href="https://twitter.com/saltyaom">
                    Twitter
                </a>.
            </p>
        </main>

        <footer class="flex flex-col w-full">
            <section class="flex flex-col sm:flex-row-reverse">
                <div class="flex flex-col sm:w-[36%]">
                    <picture
                        class="block bg-gray-100 aspect-9-21 overflow-hidden"
                    >
                        <img
                            loading="lazy"
                            class="w-full object-cover aspect-9-21 object-center"
                            src="/cosplay/rin-glasses.webp"
                            alt="SaltyAom's tingyun cosplay"
                        />
                    </picture>
                    <picture class="block bg-gray-100 overflow-hidden">
                        <img
                            loading="lazy"
                            class="w-full object-cover object-center"
                            src="/cosplay/nightingale-up.webp"
                            alt="SaltyAom's tingyun cosplay"
                        />
                    </picture>
                </div>

                <div class="flex flex-col sm:w-[64%]">
                    <picture
                        class="block bg-gray-100 aspect-10-16 overflow-hidden"
                    >
                        <img
                            loading="lazy"
                            class="w-full aspect-16-10 object-cover object-center"
                            src="/cosplay/tingyun-sofa.webp"
                            alt="SaltyAom's tingyun cosplay"
                        />
                    </picture>

                    <picture
                        class="block bg-gray-100 aspect-16-10 overflow-hidden"
                    >
                        <img
                            loading="lazy"
                            class="w-full aspect-16-10 object-cover object-center"
                            src="/cosplay/haruna-pose.webp"
                            alt="SaltyAom's tingyun cosplay"
                        />
                    </picture>
                </div>
            </section>
        </footer>
    </body>
</html>
