---
import { ViewTransitions } from 'astro:transitions'

import '../styles/global.css'
---

<!doctype html>
<html lang="en">
    <head>
        <title>SaltyAom</title>
        <ViewTransitions />

        <meta name="charset" content="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link
            rel="icon"
            href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🐳</text></svg>"
        />

        <meta name="title" content="SaltyAom" />
        <meta
            name="description"
            content="SaltyAom, open source maintainer and cosplayer"
        />
        <meta name="author" content="SaltyAom" />
        <link rel="canonical" href="https://saltyaom.com/blog">

        <meta name="og:title" content="SaltyAom" />
        <meta
            name="og:description"
            content="SaltyAom, open source maintainer and cosplayer"
        />
        <meta name="og:author" content="SaltyAom" />
        <meta
            property="og:image"
            content="https://saltyaom.com/cosplay/pekomama.webp"
        />
        <meta property="og:image:width" content="2340" />
        <meta property="og:image:height" content="1560" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />

        <link rel="preload" href="/cosplay/pekomama.webp" as="image" />
    </head>
    <body>
        <main
            class="flex flex-col w-full max-w-3xl px-4 mx-auto pt-24 pb-12 text-lg text-gray-700 dark:text-300 leading-8"
        >
            <h1 class="text-5xl text-black font-medium mb-4 font-serif">SaltyAom</h1>
            <p>I love to make open source and cosplay.</p>
            <p>
                Made
                <a
                	class="link-pink"
                 	target="_blank"
                  	href="https://elysiajs.com"
                   	title="An ergonomic framework for humans"
                >Elysia</a>,
                <a
                    class="link-amber"
                    target="_blank"
                    href="https://niku.saltyaom.com"
                    title="Niku is a UI library for Flutter"
                >
                    Niku
                </a>,
                <a
                    class="link-emerald"
                    target="_blank"
                    href="https://github.com/saltyaom/mobius"
                    title="Infer type from GraphQL schema in TypeScript"
                >
                    Mobius GraphQL
                </a>, and cosplay various characters.
            </p>

            <picture
                class="block bg-gray-100 my-4 rounded-xl aspect-3-2 overflow-hidden object-shadow image-scale"
            >
                <img
                    class="w-full aspect-3-2 object-cover object-center"
                    src="/cosplay/pekomama.webp"
                    alt="SaltyAom's pekomama cosplay smiling at the camera"
                />
            </picture>

            <p>
                I make things to make my life easier.
            </p>
            <p>
                Good at abusing type-level TypeScript to do things that it shouldn't do.
            </p>

            <br />

            <p>
                I want to be full-time open source maintainer, currently on
                <a
                    class="link-green"
                    target="_blank"
                    href="https://github.com/sponsors/saltyaom"
                    title="Help me pay my bill with GitHub Sponsors"
                    >GitHub Sponsors</a
                >
                , but still do freelance to pay the bill.
            </p>

            <br />

            <p>
                Beside programming, I love to cosplay, play games, watch anime,
                and draw sometime like Blue Archive, Arknights, Honkai Impact
                3rd, Honkai Star Rail, MaiMai.
            </p>

            <br />

            <p>
                See me on <a class="link-violet" href="https://github.com/saltyaom" title="See my work on GitHub">
                    GitHub
                </a> or <a class="link-blue" href="https://twitter.com/saltyaom" title="I'm active on Twitter/x">
                    Twitter/x
                </a> or <a class="link-pink" href="/blog" title="Check out my blog!">
                    My Blog
                </a>
            </p>
        </main>

        <footer class="flex flex-col w-full">
            <section class="flex flex-col sm:flex-row-reverse">
                <div class="flex flex-col sm:w-[36%]">
                    <picture
                        class="block bg-gray-100 aspect-9-14 overflow-hidden image-scale"
                    >
                        <img
                            loading="lazy"
                            class="w-full object-cover aspect-9-14 object-center"
                            src="/cosplay/rin-glasses.webp"
                            alt="SaltyAom's Rin cosplay adjusting glasses with right hand looking at the camera"
                        />
                    </picture>
                    <picture class="block bg-gray-100 overflow-hidden image-scale">
                        <img
                            loading="lazy"
                            class="w-full object-cover object-center"
                            src="/cosplay/nightingale-up.webp"
                            alt="SaltyAom's Nightingale cosplay holding a magical wand while looking up to the sky"
                        />
                    </picture>
                </div>

                <div class="flex flex-col sm:w-[64%]">
                    <picture
                        class="block bg-gray-100 aspect-10-16 overflow-hidden image-scale"
                    >
                        <img
                            loading="lazy"
                            class="w-full aspect-16-10 object-cover object-center"
                            src="/cosplay/tingyun-cover.webp"
                            alt="SaltyAom's Tingyun cosplay holding both hands resting on the chest"
                        />
                    </picture>

                    <picture
                        class="block bg-gray-100 aspect-16-10 overflow-hidden image-scale"
                    >
                        <img
                            loading="lazy"
                            class="w-full aspect-16-10 object-cover object-center"
                            src="/cosplay/haruna-pose.webp"
                            alt="SaltyAom's Haruna cosplay smiling at the camera"
                        />
                    </picture>
                </div>
            </section>
        </footer>

        <p class="w-full mt-8 text-center text-gray-400 text-sm font-serif">
            Fight for all that is beautiful in the world
        </p>

        <p class="w-full mt-2 mb-8 text-center text-gray-400 text-sm font-serif">
            &copy; SaltyAom
        </p>
    </body>
</html>
