---
const props = Astro.props
---

<div class={`w-full h-[175dvh] ${props.class}`}>
	<article id="peko" class="sticky top-0 flex flex-col w-full h-dvh bg-white overflow-hidden">
		<h1
			id="peko-title"
			class="absolute z-20 text-[20vw] mix-blend-overlay font-bold text-white top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 pointer-events-none"
			style="--origin-x: 0px; opacity: 0;"
		>
			SaltyAom
		</h1>
		<img id="peko-bg" src="/cosplay/pekomama-bg.webp" class="z-10" />
		<img id="peko-fg" src="/cosplay/pekomama-fg.webp" class="z-30" style="opacity: 0;" />
		<section id="peko-content" class="h-full z-20" style="pointer-events: none;">
			<slot />
		</section>
		<div id="peko-hint" class="absolute z-40 flex items-center gap-1 text-white left-[7.5vw] bottom-[15vh] opacity-0">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mouse-icon lucide-mouse"><rect x="5" y="2" width="14" height="20" rx="7"/><path d="M12 6v4"/></svg>
			↓
		</div>
	</article>
</div>

<noscript>
	<style>
		#peko-bg, #peko-title {
			opacity: 1 !important;
		}
	</style>
</noscript>

<script>
const easeOutExpo = (x: number) => x === 1 ? 1 : 1 - Math.pow(2, -10 * x)
const easeInExpo = (x: number) => x === 0 ? 0 : Math.pow(2, 10 * x - 10)

if(window.innerWidth >= 768) {
	document.body.style.overflow = 'hidden'

	document.addEventListener('DOMContentLoaded', () => {
		const step = 17.5

		const container = document.getElementById('peko')!
		const bg = document.getElementById('peko-bg')!
		const fg = document.getElementById('peko-fg')!
		const hint = document.getElementById('peko-hint')!
		const title = document.getElementById('peko-title')!
		const content = document.getElementById('peko-content')!
		const opacityContents = document.querySelectorAll('.peko-opacity')!

		const start = async () => {
			const top = document.documentElement.scrollTop / window.innerHeight * 100

			title.style.opacity = '1'
			fg.style.opacity = '1'

			fg.classList.add('peko-in')

			if(top < 20) {
				title.classList.add('peko-slide')

				await new Promise(resolve => setTimeout(resolve, 1650))
			}

			if(top === 0) {
				hint.classList.add('peko-hint')

				document.addEventListener('scroll', () => {
					hint.classList.remove('peko-hint')
				}, {
					once: true
				})
			}

			document.body.style.overflow = 'unset'

			container.addEventListener('mousemove', (event) => {
				const rect = container.getBoundingClientRect()
				const x = (event.clientX - rect.left) / rect.width
				const y = (event.clientY - rect.top) / rect.height

				bg.style.transform = `translate(${x * step * 2}px, ${y * step * 2}px) translateZ(0)`
				title.style.transform = `translate(${x * step * 1.5}px, ${y * step * 1.5}px) translateZ(0)`
				fg.style.transform = `translate(${x * step}px, ${y * step}px) translateZ(0)`
			}, {
				passive: true
			})

			const position = () => {
				const top = document.documentElement.scrollTop / window.innerHeight * 100

				if(top <= 50) {
					fg.style.left = `calc(${10 * easeOutExpo(top / 50)}% + ${easeOutExpo(top / 50) * 150}px)`
					bg.style.filter = `brightness(${1 - (easeOutExpo(top / 25)) * 0.1})`
					title.style.opacity = 1 - easeOutExpo(1 * top / 50) + ''
					title.style.paddingLeft =  easeOutExpo(1 * top / 50) * 100 + '%'
					opacityContents.forEach((el) => {
						(el as HTMLElement).style.opacity = easeOutExpo(top / 100) + ''
					})
					content.style.transform = `translateX(-${easeInExpo(1 - top / 50) * 10}%)`

					if(top < 20)
						content.style.pointerEvents = 'none'
					else
						content.style.pointerEvents = 'auto'
				} else {
					fg.style.left = 'calc(10% + 150px)'
					bg.style.filter = 'brightness(0.9)'
					title.style.opacity = '0'
					title.style.paddingLeft = '50%'
					content.style.transform = 'translateX(0px)'
					content.style.pointerEvents = 'auto'
					opacityContents.forEach((el) => {
						(el as HTMLElement).style.opacity = '1'
					})
				}
			}

			position()

			document.addEventListener('scroll', position, {
				passive: true
			})
		}

		window.addEventListener('load', start, {
			once: true
		})

  		document.addEventListener("astro:page-load", start, {
		    once: true
	    })
	})
}
</script>

<style>
#peko-bg, #peko-fg, #peko-fallback {
	@apply absolute w-full h-full object-center object-cover scale-[1.15] pointer-events-none;
}

#peko-bg, #peko-fg, #peko-title {
	transition: transform 2s var(--ease-out-expo);
	will-change: transform;

 	/* Webkit GPU acceleration hack for some reason */
    /* https://stackoverflow.com/a/21364496 */
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
}

.peko-in {
	animation: peko-in 1s var(--ease-out-expo);
}

@keyframes peko-in {
	0% {
		opacity: 0;
		transform: translateY(62.5vh) scale(0.8);
	}

	100% {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}

.peko-slide {
	animation: peko-slide 1.6s var(--ease-out-expo);
}

@keyframes peko-slide {
	0% {
		transform: translateX(-50%);
		opacity: 0;
	}

	35% {
		transform: translateX(-50%);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

.peko-hint {
	animation: peko-hint 8s var(--ease-out-expo) infinite;
}

@keyframes peko-hint {
	0% {
		opacity: 0;
		transform: translateY(-10px);
	}

	25% {
		opacity: 0;
		transform: translateY(-10px);
	}

	40% {
		opacity: 1;
		transform: translateY(-10px);
	}

	75% {
		opacity: 1;
		transform: translateY(10px);
	}

	80% {
		opacity: 0;
		transform: translateY(10px);
	}

	100% {
		opacity: 0;
		transform: translateY(10px);
	}
}
</style>
